.bk.custom_button button {
	border:none;
	background-color: lightblue;
	color:teal;
	font-weight: bold;
}

.bk.custom_button button:hover {
	border:none;
	background-color: lightblue;
	color:teal;
	font-weight: bold;
}

.bk.custom_button button:disabled {
	border:none;
	background-color: darkorange;
	color:firebrick;
	font-weight: bold;
}
